<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="aspnet-contrib" value="https://www.myget.org/F/aspnet-contrib/api/v2" />
    <add key="AspNetCI" value="https://www.myget.org/F/aspnetcirelease/api/v3/index.json" />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
    <add key="SwaggerLocal1" value="C:\DepSource\SwashbuckleRC2\src\Swashbuckle.SwaggerGen\bin\Debug" />
    <add key="SwaggerLocal2" value="C:\DepSource\SwashbuckleRC2\src\Swashbuckle.SwaggerUi\bin\Debug" />
  </packageSources>
</configuration>
